main {
  margin-top: 50px;
}

body {
  background-color: #07011e;
}

.Typewriter span {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 40.8px;
  letter-spacing: -1.5px;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

@media (min-width: 1200px) {
  .Typewriter span {
    font-size: 60px;
    line-height: 69px;
    letter-spacing: -1.5px;
  }
}

.Typewriter {
  text-align: center;
}
